   <!-- <input type="text" name="cover_image" placeholder="Add src of image" /> -->
        <!-- <input type="text" name="categoryname" placeholder="Add categories" />
        <input type="text" name="name" placeholder="Add author name" />
        <input type="text" name="email" placeholder="Add author email-Id" />
        <input type="text" name="country" placeholder="Add author country" /> -->
        <!-- <img src="/images/<%= book.cover_image %>" alt="Book Cover"> -->
        <!-- // categories: [{ type: Schema.Types.ObjectId, ref: 'Category' }], -->


        <!-- <form action="/books/<%= bookId %>/author" method="POST">
         <input class="form-control" type="text" name="name" placeholder="Add Authors Name" />
         <input class="form-control" type="text" name="email" placeholder="Add Authors mail id" />
         <input class="form-control" type="text" name="country" placeholder="Add Authors Country" />
       </form> -->


       <!-- <% book.author.forEach((auth) => {%>
         <p class="summary"><%= auth.name %></p>
       <p class="summary"><%= auth.email %></p>
       <p class="summary"><%= auth.country %></p>
       <%}) %> -->

       <!-- <form action="/books/author" method="POST">
         <input
           class="form-control"
           type="text"
           name="name"
           placeholder="Add Authors Name"
         />
         <input
           class="form-control"
           type="text"
           name="email"
           placeholder="Add Authors mail id"
         />
         <input
           class="form-control"
           type="text"
           name="country"
           placeholder="Add Authors Country"
         />
         <input type="submit" />
       </form> -->

       <!-- <select class="form-control" name="authors">
            <% authors.forEach((author) => { %>
            <option value="<%= author.id %>"><%= author.name %></option>
            <% }) %>
            </select> -->